<h1>User Information</h1>

<p>Photo: </p>
<p>Name: <%= "#{@user.first_name} #{@user.last_name}" %> </p>
<p>Phone: <%= @user.phone %> </p>
<p>Current Location: <%= @user.location.name %></p>
<p>Skill Level: </p>