<h1>Welcome to Skillevel</h1>
<h3>Please Select Your Location</h3>

<% @locations.each do |location| %>

	<div class="media">
    	<a class="pull-left" href="<%= location_path(location) %>">
    		<%= image_tag(location.image, :class => "media-object") %>
        </a>
         <div class="media-body">
            <h4 class="media-heading" align="left"><%= link_to "#{location.name}", location_path(location) %></h4>
            <h5 align="left"><%= "#{location.name}" %></h4>
          </div>
    </div> 

<% end %>