<div class="starter-template">
        <br>
        <div class="panel panel-primary">
          <div class="panel-heading"><h3 class="panel-title">Where are you?</h3></div>

<% @locations.each do |location| %>

	<div class="media">
    	<a class="pull-left" href="<%= location_path(location) %>">
    		<%= image_tag(location.image, :class => "media-object", :size => "100x100") %>
        </a>
         <div class="media-body">
            <h4 class="media-heading" align="left"><%= link_to "#{location.name}", setlocation_path(location) %></h4>
            <h5 align="left"><%= "#{location.name}" %></h4>
          </div>
    </div> 

<% end %>

		</div>
</div>